/* MAIN NAVBAR */
.navbar {
  width: 100%;
  padding: 15px 50px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 200;
}

/* LOGO */
.logo {
  font-size: 26px;
  font-weight: 700;
  color: #333;
}

/* NAV LINKS DESKTOP */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s ease;
}

.nav-links li a:hover {
  color: #ff6b00;
}

/* POST JOB BUTTON */
.post-job-btn {
  padding: 10px 22px;
  background: #ff6b00;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease;
}

.post-job-btn:hover {
  background: #e25f00;
}

/* HAMBURGER */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}


/* -------------------- RESPONSIVE -------------------- */

@media (max-width: 900px) {
  .menu-icon {
    display: block;
  }

  .desktop-btn {
    display: none;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background: white;
    padding: 20px 0;
    gap: 25px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    left: 0;
  }

  .mobile-btn {
    display: block;
  }
}
